.header{
    background-image: url("../../../Image/PNG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    padding-top: 80px;
}
.header-descriptions{
    line-height: 3.5ch;
    font-size: 18px;
    float: right;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 50px;
    text-align: center;
    margin-top: 40px;
}

button.btn.btn-outline-dark {
    margin-left: 60px;
}

.header-icons{
    cursor: pointer;
}
.name{
    font-size: inherit;
    color: tomato;
}

