.card{
    min-height: 398px;
    cursor: pointer;
}

.card p {
   line-height: 2.1;
   padding: 20px;
   margin-top: 10px;
}

.card img{
    max-width: 20%;
    margin:15px 15px;
    margin-left: 35%;
    margin-right: 35%;
}

.card .card-body img:hover{
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.service :hover {
    background-color: rgba(0, 0, 0, 0.377);
    color: #ffff;
    cursor: pointer;
    transition: 1s;

}