.service-section{
    background-color: #f6f6f8;
    color: #62646a;
}
.about-title-container h1{
    font-size: 32px;
    font-weight: 700;
}
.about-title-container p{
   padding-top: 22px;
}
p.card-text{
    color: #62646a;
}

.single-countUp {
    background-color: #523d3d;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.single-countUp span{
    font-size: 32px;
    font-weight: 900;
}